#foot123{
	margin-top:0px;
	font-size:10px;
	text-align:center;
}

#lolto{
	font-size:50px;
	margin-bottom:0px;
}
#comSmalInfo{
	margin-top:0px;
}
#mainF{
	display:inline-block;
	float:left;
	margin-left:180px;
	
}
#comInfo{
	display:inline-block;
	margin-left:30px;
}